<ion-view view-title="Rules and Regulations">
    <ion-content>
        <div class="list">
                <div class="item item-divider">
                   <h2><font color="blue"><b> Commom Rules...</b></font></h2>
                </div>
                <a class="item">
                    Students should dress appropriately.
                </a>
                <a class="item">
                    Cell phones are not allowed inside the campus.
                </a>
                <a class="item">
                    Students should help keep the college campus clean.
                </a>
                <a class="item">
                    Students should not smoke inside the campus.
                </a>
                <a class="item">
                    Students should wear their identity cards at all times.
                </a>
				<a class="item">
                    Ragging is strictly prohibited.
                </a>
				<a class="item">
                    Students are encouraged to regularly check the <br>notice board for current information.
                </a>
				<a class="item">
                    No documents or promotional materials should be <br>circulated without the permission of the Principal.
                </a>
				<a class="item">
                    Students must respect college premises, buildings and <br>furniture.
                </a>
				<a class="item">
                    Students who disobey the college rules will be taken to task.
                </a>
            </div>
		
    </ion-content>
</ion-view>
