<ion-view view-title="Rules and Regulations">
    <ion-content>
        <div class="list card energized-100-bg">
		<h5>&nbsp;&nbsp;Students should dress appropriately.</h5>
		</div>
		<div class="list card stable-100-bg">
		<h5>&nbsp;&nbsp;Cell phones are not allowed inside the campus.</h5>
		</div>
		<div class="list card energized-100-bg">
		<h5>&nbsp;&nbsp;Students should help keep the college campus clean.</h5>
		</div>
		<div class="list card stable-100-bg">
		<h5>&nbsp;&nbsp;Students should not smoke inside the campus.</h5>
		</div>
		<div class="list card energized-100-bg">
		<h5>&nbsp;&nbsp;Students should wear their identity cards at all times.</h5>
		</div>
		<div class="list card stable-100-bg">
		<h5>&nbsp;&nbsp;Ragging is strictly prohibited.</h5>
		</div>
		<div class="list card energized-100-bg">
		<h5>&nbsp;&nbsp;Students are encouraged to regularly check the notice board for current information.</h5>
		</div>
		<div class="list card stable-100-bg">
		<h5>&nbsp;&nbsp;No documents or promotional materials should be circulated without the permission of the Principal.</h5>
		</div>
		<div class="list card energized-100-bg">
		<h5>&nbsp;&nbsp;Students must respect college premises, buildings and furniture.</h5>
		</div>
		<div class="list card stable-100-bg">
		<h5>&nbsp;&nbsp;Students who disobey the college rules will be taken to task.</h5>
		</div>
		
    </ion-content>
</ion-view>
